data-raw/schemas/authored/sitemap-video.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  sitemapr-authored, clean-room schema for the Google video sitemap extension
  (namespace http://www.google.com/schemas/sitemap-video/1.1). NOT a copy of
  Google's reference XSD.

  Models the extension's documented element set: a <video:video> wrapper with its
  required thumbnail/title/description, the player_loc / content_loc pair, and the
  full list of optional descriptors (duration, dates, rating, tags, pricing,
  country/platform restrictions, tvshow block, ids, ...). All element and
  attribute names, child order, optionality, the enumerations, the lexical
  patterns, and the numeric bounds (duration <= 28800s, rating 0..5, title <= 100,
  description <= 2048, category <= 256, up to 32 tags) are the extension's public
  functional facts and are preserved exactly so this profile accepts/rejects the
  same documents as the reference. Only the documentation prose is original.

  Note: the protocol's "at least one of player_loc / content_loc" rule cannot be
  expressed in XSD 1.0 and is enforced in the protocol-validation layer, matching
  the reference schema (both make each individually optional here).

  Provenance and terms: see inst/schemas/SOURCES.md.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.google.com/schemas/sitemap-video/1.1"
            xmlns="http://www.google.com/schemas/sitemap-video/1.1"
            elementFormDefault="qualified">

  <xsd:simpleType name="tYesNo">
    <xsd:annotation>
      <xsd:documentation>
        A yes/no flag, accepted in lowercase, uppercase, or capitalized form.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="yes"/>
      <xsd:enumeration value="Yes"/>
      <xsd:enumeration value="YES"/>
      <xsd:enumeration value="no"/>
      <xsd:enumeration value="No"/>
      <xsd:enumeration value="NO"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tCountryList">
    <xsd:annotation>
      <xsd:documentation>Space-separated ISO 3166 two-letter country codes.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([A-Z]{2}( +[A-Z]{2})*)?"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tPlatformList">
    <xsd:annotation>
      <xsd:documentation>
        Space-separated playback platforms: web, mobile, or tv.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="((web|mobile|tv)( (web|mobile|tv))*)?"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:element name="video">
    <xsd:annotation>
      <xsd:documentation>Video-specific metadata for a single page URL.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="thumbnail_loc" type="xsd:anyURI">
          <xsd:annotation>
            <xsd:documentation>Required. URL of the thumbnail image.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>

        <xsd:element name="title">
          <xsd:annotation>
            <xsd:documentation>Required. Video title (up to 100 characters).</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="100"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>

        <xsd:element name="description">
          <xsd:annotation>
            <xsd:documentation>Required. Video description (up to 2048 characters).</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="2048"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>

        <xsd:element name="content_loc" minOccurs="0" type="xsd:anyURI">
          <xsd:annotation>
            <xsd:documentation>
              URL of the raw video file. Supply this and/or player_loc; at least
              one is required (checked in the protocol layer).
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>

        <xsd:element name="player_loc" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              URL of a player for the video. Supply this and/or content_loc; at
              least one is required (checked in the protocol layer).
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:anyURI">
                <xsd:attribute name="allow_embed" type="tYesNo">
                  <xsd:annotation>
                    <xsd:documentation>
                      Whether the player may be embedded in results. Defaults to yes.
                    </xsd:documentation>
                  </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="autoplay" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>
                      Opaque string appended to the player's flashvars to trigger autoplay.
                    </xsd:documentation>
                  </xsd:annotation>
                </xsd:attribute>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>

        <xsd:element name="duration" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Length in seconds, at most 28800 (8 hours).</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:nonNegativeInteger">
              <xsd:maxInclusive value="28800"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>

        <xsd:element name="expiration_date" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              When the video stops being available, as a W3C date or timestamp.
              Omit for videos that do not expire.
            </xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:union>
              <xsd:simpleType>
                <xsd:restriction base="xsd:date"/>
              </xsd:simpleType>
              <xsd:simpleType>
                <xsd:restriction base="xsd:dateTime"/>
              </xsd:simpleType>
            </xsd:union>
          </xsd:simpleType>
        </xsd:element>

        <xsd:element name="rating" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Rating as a decimal in [0.0, 5.0].</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:decimal">
              <xsd:minInclusive value="0"/>
              <xsd:maxInclusive value="5"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>

        <xsd:element name="content_segment_loc" minOccurs="0" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation>
              Used only with player_loc. For a video split into raw clips, lists the
              clip URLs in concatenation order; each carries its own duration.
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:anyURI">
                <xsd:attribute name="duration">
                  <xsd:annotation>
                    <xsd:documentation>Clip length in seconds, at most 28800.</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:nonNegativeInteger">
                      <xsd:maxInclusive value="28800"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>

        <xsd:element name="view_count" minOccurs="0" type="xsd:nonNegativeInteger">
          <xsd:annotation>
            <xsd:documentation>Number of views.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>

        <xsd:element name="publication_date" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>First publication date, as a W3C date or timestamp.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:union>
              <xsd:simpleType>
                <xsd:restriction base="xsd:date"/>
              </xsd:simpleType>
              <xsd:simpleType>
                <xsd:restriction base="xsd:dateTime"/>
              </xsd:simpleType>
            </xsd:union>
          </xsd:simpleType>
        </xsd:element>

        <xsd:element name="tag" type="xsd:string" minOccurs="0" maxOccurs="32">
          <xsd:annotation>
            <xsd:documentation>
              A short keyword for the video. Repeat for each tag, up to 32.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>

        <xsd:element name="category" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Broad subject grouping (up to 256 characters).</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="256"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>

        <xsd:element name="family_friendly" minOccurs="0" type="tYesNo">
          <xsd:annotation>
            <xsd:documentation>
              no restricts the video to viewers with SafeSearch off; defaults to yes.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>

        <xsd:element name="restriction" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              Country allow/deny list. Absent means playable everywhere.
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="tCountryList">
                <xsd:attribute name="relationship" use="required">
                  <xsd:annotation>
                    <xsd:documentation>
                      Required. Whether the listed countries are allowed or denied.
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:enumeration value="allow"/>
                      <xsd:enumeration value="deny"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>

        <xsd:element name="gallery_loc" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Link to the gallery this video belongs to.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:anyURI">
                <xsd:attribute name="title" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>Gallery title.</xsd:documentation>
                  </xsd:annotation>
                </xsd:attribute>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>

        <xsd:element name="price" minOccurs="0" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation>
              Purchase or rental price. Repeat for multiple currencies. If a price
              value is given, currency is required; if no value, type is required;
              resolution is always optional.
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute name="currency">
                  <xsd:annotation>
                    <xsd:documentation>ISO 4217 currency code; required when a price value is given.</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:pattern value="[A-Z]{3}"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="type">
                  <xsd:annotation>
                    <xsd:documentation>purchase or rent; required when no price value is given.</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:enumeration value="purchase"/>
                      <xsd:enumeration value="PURCHASE"/>
                      <xsd:enumeration value="rent"/>
                      <xsd:enumeration value="RENT"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="resolution">
                  <xsd:annotation>
                    <xsd:documentation>Resolution tier at this price: sd or hd.</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:enumeration value="sd"/>
                      <xsd:enumeration value="SD"/>
                      <xsd:enumeration value="hd"/>
                      <xsd:enumeration value="HD"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>

        <xsd:element name="requires_subscription" minOccurs="0" type="tYesNo">
          <xsd:annotation>
            <xsd:documentation>Whether any subscription (paid or free) is needed to watch.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>

        <xsd:element name="uploader" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Name or handle of the uploader.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute name="info" type="xsd:anyURI">
                  <xsd:annotation>
                    <xsd:documentation>
                      URL with more about the uploader; must be on the same domain as loc.
                    </xsd:documentation>
                  </xsd:annotation>
                </xsd:attribute>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>

        <xsd:element name="tvshow" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Television metadata for a single episode or related clip.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="show_title" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Show title; the same across a series.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="video_type">
                <xsd:annotation>
                  <xsd:documentation>How this video relates to the show/episode.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="full"/>
                    <xsd:enumeration value="preview"/>
                    <xsd:enumeration value="clip"/>
                    <xsd:enumeration value="interview"/>
                    <xsd:enumeration value="news"/>
                    <xsd:enumeration value="other"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="episode_title" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Episode title; omit when not episode-specific.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="season_number" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Season number (>= 1), for shows with seasons.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:integer">
                    <xsd:minInclusive value="1"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="episode_number" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Episode number (>= 1).</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:integer">
                    <xsd:minInclusive value="1"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="premier_date" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>First-broadcast date, as a W3C date or timestamp.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:union>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:dateTime"/>
                    </xsd:simpleType>
                  </xsd:union>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>

        <xsd:element name="platform" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              Platform allow/deny list. Absent means playable on all platforms.
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="tPlatformList">
                <xsd:attribute name="relationship" use="required">
                  <xsd:annotation>
                    <xsd:documentation>
                      Required. Whether the listed platforms are allowed or denied.
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:enumeration value="allow"/>
                      <xsd:enumeration value="deny"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>

        <xsd:element name="live" minOccurs="0" type="tYesNo">
          <xsd:annotation>
            <xsd:documentation>Whether this is a live broadcast.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>

        <xsd:element name="id" minOccurs="0" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation>
              A video identifier, unambiguous within the given identification scheme.
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute name="type" use="required">
                  <xsd:annotation>
                    <xsd:documentation>Required. The identification scheme.</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:enumeration value="tms:series"/>
                      <xsd:enumeration value="tms:program"/>
                      <xsd:enumeration value="rovi:series"/>
                      <xsd:enumeration value="rovi:program"/>
                      <xsd:enumeration value="freebase"/>
                      <xsd:enumeration value="url"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
