data-raw/schemas/authored/sitemap-pagemap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  sitemapr-authored, clean-room schema for the Google PageMap sitemap extension
  (namespace http://www.google.com/schemas/sitemap-pagemap/1.0). NOT a copy of
  Google's reference XSD.

  Models the extension's documented element set: a <PageMap> holding an optional
  <Template> (with a required src) and any number of <DataObject>s, each typed
  and optionally identified, carrying named <Attribute>s whose value may be an
  attribute or element text. Element/attribute names, containment, and use
  constraints are the extension's public functional facts; the prose is original.

  Provenance and terms: see inst/schemas/SOURCES.md.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.google.com/schemas/sitemap-pagemap/1.0"
            xmlns="http://www.google.com/schemas/sitemap-pagemap/1.0"
            elementFormDefault="qualified">

  <xsd:element name="PageMap">
    <xsd:annotation>
      <xsd:documentation>
        Structured data attached to a page for Programmable/Custom Search Engine
        rendering.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Template" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              Optional. Points at a template that overrides default result
              rendering; if omitted, built-in templates are used.
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:attribute name="src" type="xsd:anyURI" use="required">
              <xsd:annotation>
                <xsd:documentation>Required. Location of the template file.</xsd:documentation>
              </xsd:annotation>
            </xsd:attribute>
          </xsd:complexType>
        </xsd:element>

        <xsd:element name="DataObject" minOccurs="0" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation>A typed bag of named attributes describing the page.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Attribute" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                  <xsd:documentation>
                    A single key/value pair. Supply the value either through the
                    'value' attribute or as element text, but not both.
                  </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="name" type="xsd:string" use="required">
                        <xsd:annotation>
                          <xsd:documentation>Required. Attribute key.</xsd:documentation>
                        </xsd:annotation>
                      </xsd:attribute>
                      <xsd:attribute name="value" type="xsd:string">
                        <xsd:annotation>
                          <xsd:documentation>Optional. Attribute value.</xsd:documentation>
                        </xsd:annotation>
                      </xsd:attribute>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="type" type="xsd:string" use="required">
              <xsd:annotation>
                <xsd:documentation>Required. The object's type.</xsd:documentation>
              </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="id" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Optional. The object's identifier.</xsd:documentation>
              </xsd:annotation>
            </xsd:attribute>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
