data-raw/schemas/authored/sitemap-image.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  sitemapr-authored, clean-room schema for the Google image sitemap extension
  (namespace http://www.google.com/schemas/sitemap-image/1.1). NOT a copy of
  Google's reference XSD.

  Models the extension's documented element set: an <image:image> wrapper with a
  required <image:loc> and the optional caption / geo_location / title / license
  children. Element names, types, order, and optionality are the extension's
  public functional facts; the documentation prose is original to this package.

  Provenance and terms: see inst/schemas/SOURCES.md.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.google.com/schemas/sitemap-image/1.1"
            xmlns="http://www.google.com/schemas/sitemap-image/1.1"
            elementFormDefault="qualified">

  <xsd:element name="image">
    <xsd:annotation>
      <xsd:documentation>
        Describes one image attached to a page; a &lt;url&gt; may carry many.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="loc" type="xsd:anyURI">
          <xsd:annotation>
            <xsd:documentation>Required. Location of the image file.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="caption" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Optional caption text.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="geo_location" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Optional free-text place name, e.g. a city and country.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="title" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Optional image title.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="license" type="xsd:anyURI" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Optional URL of the image's license.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
