data-raw/schemas/authored/sitemap-news.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  sitemapr-authored, clean-room schema for the Google News sitemap extension
  (namespace http://www.google.com/schemas/sitemap-news/0.9). NOT a copy of
  Google's reference XSD.

  Models the extension's documented element set: a <news:news> wrapper holding
  publication (name + language), optional access and genres, a required
  publication_date and title, and optional keywords and stock_tickers. Element
  names, child order, optionality, the enumerations, and the lexical patterns are
  the extension's public functional facts and are preserved exactly so this
  profile accepts/rejects the same documents as the reference; only the
  documentation prose is original to this package.

  Provenance and terms: see inst/schemas/SOURCES.md.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.google.com/schemas/sitemap-news/0.9"
            xmlns="http://www.google.com/schemas/sitemap-news/0.9"
            elementFormDefault="qualified">

  <xsd:element name="news">
    <xsd:annotation>
      <xsd:documentation>News-specific metadata for a single article URL.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="publication">
          <xsd:annotation>
            <xsd:documentation>Required. Identifies the publication the article ran in.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>
                    Required. The publication's name as registered with Google News.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="language">
                <xsd:annotation>
                  <xsd:documentation>
                    Required. ISO 639 language code (2 or 3 letters). Chinese is the
                    exception: use zh-cn (Simplified) or zh-tw (Traditional).
                  </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="zh-cn|zh-tw|([a-z]{2,3})"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>

        <xsd:element name="access" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              Optional. Present only when the article is gated; omit it for open access.
            </xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Subscription"/>
              <xsd:enumeration value="Registration"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>

        <xsd:element name="genres" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              Optional. Comma-separated list of content classifications drawn from a
              fixed vocabulary; omit when none apply.
            </xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:pattern value="(PressRelease|Satire|Blog|OpEd|Opinion|UserGenerated)(, *(PressRelease|Satire|Blog|OpEd|Opinion|UserGenerated))*"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>

        <xsd:element name="publication_date">
          <xsd:annotation>
            <xsd:documentation>
              Required. Original publication date in W3C form: a date (YYYY-MM-DD) or a
              full timestamp. Use when the article was published, not when it entered
              the sitemap.
            </xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:union>
              <xsd:simpleType>
                <xsd:restriction base="xsd:date"/>
              </xsd:simpleType>
              <xsd:simpleType>
                <xsd:restriction base="xsd:dateTime"/>
              </xsd:simpleType>
            </xsd:union>
          </xsd:simpleType>
        </xsd:element>

        <xsd:element name="title" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Required. The article headline.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>

        <xsd:element name="keywords" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Optional. Comma-separated topic keywords.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>

        <xsd:element name="stock_tickers" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>
              Optional. Up to five exchange-prefixed tickers (e.g. NASDAQ:AMAT),
              comma-separated, for the financial entities the article is mainly about.
            </xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:pattern value="(\w+:\w+(, *\w+:\w+){0,4})?"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
