data-raw/schemas/authored/sitemap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  sitemapr-authored, clean-room schema for the Sitemap Protocol 0.9 core
  <urlset> document. NOT a copy of the sitemaps.org reference XSD.

  This file expresses the element model defined by the public Sitemap Protocol
  0.9 (https://www.sitemaps.org/protocol.html): element names, the urlset/url
  containment, child order, optionality, the changefreq vocabulary, and the
  documented bounds on <loc>, <lastmod>, and <priority>. Those are the protocol's
  functional facts. The documentation prose and structure below are original to
  this package; no third-party schema text is reproduced.

  Bounds are taken from the published protocol (loc 12..2048 chars; priority
  0.0..1.0; lastmod is W3C-datetime, i.e. date or dateTime). Extension elements
  in other namespaces (image, video, news, xhtml:link, ...) are admitted via a
  lax wildcard so that an extended sitemap still validates against the core
  profile; the extension namespaces themselves are validated separately.

  Provenance and terms: see inst/schemas/SOURCES.md.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.sitemaps.org/schemas/sitemap/0.9"
            xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
            elementFormDefault="qualified">

  <xsd:element name="urlset">
    <xsd:annotation>
      <xsd:documentation>
        Root element. Holds the set of &lt;url&gt; entries for one sitemap
        (the protocol caps a single file at 50,000 entries).
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:any namespace="##other" minOccurs="0" maxOccurs="unbounded" processContents="strict"/>
        <xsd:element name="url" type="tUrl" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="tUrl">
    <xsd:annotation>
      <xsd:documentation>
        One crawlable URL and its optional metadata.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="loc" type="tLoc"/>
      <xsd:element name="lastmod" type="tLastmod" minOccurs="0"/>
      <xsd:element name="changefreq" type="tChangeFreq" minOccurs="0"/>
      <xsd:element name="priority" type="tPriority" minOccurs="0"/>
      <xsd:any namespace="##other" minOccurs="0" maxOccurs="unbounded" processContents="strict"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="tLoc">
    <xsd:annotation>
      <xsd:documentation>
        Required absolute URL of the page. Length 12..2048 characters per the
        protocol; finer URI-syntax checks live in the protocol-validation layer.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:anyURI">
      <xsd:minLength value="12"/>
      <xsd:maxLength value="2048"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tLastmod">
    <xsd:annotation>
      <xsd:documentation>
        Optional last-modified date in W3C datetime form: either a calendar date
        (YYYY-MM-DD) or a full timestamp with timezone.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:date"/>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="xsd:dateTime"/>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>

  <xsd:simpleType name="tChangeFreq">
    <xsd:annotation>
      <xsd:documentation>
        Optional change-frequency hint. One of the seven protocol keywords;
        treated by crawlers as advisory, not a directive.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="always"/>
      <xsd:enumeration value="hourly"/>
      <xsd:enumeration value="daily"/>
      <xsd:enumeration value="weekly"/>
      <xsd:enumeration value="monthly"/>
      <xsd:enumeration value="yearly"/>
      <xsd:enumeration value="never"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tPriority">
    <xsd:annotation>
      <xsd:documentation>
        Optional relative priority within this site, a decimal in [0.0, 1.0]
        (default 0.5). Only meaningful relative to the site's other URLs.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0.0"/>
      <xsd:maxInclusive value="1.0"/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
