data-raw/schemas/authored/siteindex.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  sitemapr-authored, clean-room schema for the Sitemap Protocol 0.9
  <sitemapindex> document. NOT a copy of the sitemaps.org reference XSD.

  Expresses the public Sitemap Protocol 0.9 index model: a sitemapindex of
  <sitemap> entries, each with a required <loc> and an optional <lastmod>.
  Element names, containment, order, optionality, and the loc length bounds are
  the protocol's functional facts; the prose and structure here are original.

  Extension elements in other namespaces are admitted via a lax wildcard so an
  annotated index still validates against this profile.

  Provenance and terms: see inst/schemas/SOURCES.md.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.sitemaps.org/schemas/sitemap/0.9"
            xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
            elementFormDefault="qualified">

  <xsd:element name="sitemapindex">
    <xsd:annotation>
      <xsd:documentation>
        Root element of an index file. Lists the child sitemaps it points to
        (capped at 50,000 entries per the protocol).
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:any namespace="##other" minOccurs="0" maxOccurs="unbounded" processContents="strict"/>
        <xsd:element name="sitemap" type="tSitemap" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="tSitemap">
    <xsd:annotation>
      <xsd:documentation>
        A reference to one child sitemap and its optional last-modified date.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="loc" type="tLocSitemap"/>
      <xsd:element name="lastmod" type="tLastmodSitemap" minOccurs="0"/>
      <xsd:any namespace="##other" minOccurs="0" maxOccurs="unbounded" processContents="strict"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="tLocSitemap">
    <xsd:annotation>
      <xsd:documentation>
        Required absolute URL of a child sitemap. Length 12..2048 characters
        per the protocol.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:anyURI">
      <xsd:minLength value="12"/>
      <xsd:maxLength value="2048"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tLastmodSitemap">
    <xsd:annotation>
      <xsd:documentation>
        Optional last-modified date in W3C datetime form: a calendar date
        (YYYY-MM-DD) or a full timestamp with timezone.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:date"/>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="xsd:dateTime"/>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>

</xsd:schema>
